{% extends 'base_1.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "Hotel" %}</h2>
          <p class="m-auto"><a class="btn btn-success" href="{% url 'hotel:hotel_search'%}">{% trans "Search" %}</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "Hotel" %}</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->


  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
      <div class="row">
        {% for Hotel in hotels %}

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" style="padding-bottom: 20px;">
          <div class="box featured" data-aos="fade-up" data-aos-delay="100">
            {% if LANGUAGE_CODE == 'en' %}
            <h3>{{ Hotel.en_name|safe|truncatechars:21 }}</h3>
            {% else %}
            <h3>{{ Hotel.th_name|safe|truncatechars:21 }}</h3>
            {% endif %}
            <img class="card-img-top" src="{% static 'images/hotel.jpg' %}" alt="Card image">
            <!-- <img class="card-img-top" src="{{MEDIA_URL}}{{Hotel.thumbnail.path.url}}" alt="Card image"> -->
            <!-- <h4><span>{{ Hotel.Description }}</span></h4> -->

            <div class="btn-wrap">
              {% if user.is_authenticated %}
              <a href="{% url 'hotel:hotel_detail' Hotel.id %}" class="btn btn-buy">{% trans "View" %}</a>
              <!-- Hotels / Hotel id -->
              {% else %}
              <a href="/login" class="btn btn-buy">{% trans "View" %}</a>
              {% endif %}
            </div>
            
          </div>
        </div>
        {% endfor %}

        <!-- {% for Hotel in hotels %}
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="fade-up" data-aos-delay="300">
            <span class="advanced">Advanced</span>
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ Hotel.thumbnail.path }}" alt="Card image">
            <h4><span>Check you status</span></h4>
            <div class="btn-wrap">
              <a href="{% url 'hotel_admin:proposal_check'%}" class="btn-buy">Check status</a>
            </div>
          </div>
        </div>
        {% endfor %} -->
      </div>

    </div>
  </section><!-- End Pricing Section -->
  
</main>
{% endblock %}