{% extends 'base_1.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "Hotel Search" %}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "Hotel" %}</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <!-- Advanced Search -->
  <div class="container-fluid">

    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>{% trans "Hotel Search" %}</h1>
          <form method="POST" action="" enctype="multipart/form-data" name="search" onsubmit="return validateForm()">
            {% csrf_token %}

            <div class="form-group">
              <label class="form-group-label text-muted" for="checkin">{% trans "Enter Hotel or address" %}
                ({% trans "No need to fill out" %})</label>
              <input class="form-control" type="text" name="searchterm" id="checkin" placeholder="{% trans 'Search' %}..">
            </div>
            <!-- Multi Date , Date Picker -->
            <div class="form-group">
              <label class="text-muted" for="checkin">{% trans "Please Select Your Check-In and Check-Out dates" %}</label>
              <input class="date form-control" type="text" name="daterange" id="checkin" placeholder="{% trans 'Select Date' %}.."
                required>
            </div>
            <div class="form-group">

              <label class="text-muted" for="travelers">{% trans "Travelers" %}</label>
              <select name="numtravelers" class="form-control">
                <!-- <option>-------------------</option> -->
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              </select>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}

<!-- Scripts for the Date picker and Form validation  -->
{% block custom_js %}
<script src="https://unpkg.com/flatpickr"></script>
<script>
  flatpickr(".date", {
    minDate: "today",
    mode: "range",
  });

  function validateForm() {
    var setdate = document.forms["search"]["daterange"].value;
    if (setdate == "") {
      alert("Date Must be Filled Out");
      return false;
    }
  }
</script>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block custom_css %}
<!-- Styles for the js slideshow and the main css file. -->
<!-- <link href="{% static 'css/slick.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'css/app.css' %}" rel="stylesheet"> -->
<!-- Styles for Bootstrap , Date Picker , Image Uploader , Slideshow and Rating. -->


<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
{% endblock %}