{% extends 'base_2.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main id="main">

    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3>ติดต่อ<strong> สถานที่สำคัญ</strong></h3>
                </div>
                <div class="span8">
                    <ul class="breadcrumb notop">
                        <li><a href="{% url 'home' %}">หน้าหลัก</a><span class="divider">/</span></li>
                        <li class="active">ติดต่อสถานที่สำคัญ</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="maincontent">
        <div class="container">
            {% for item in data.contact_detail %}
            <div class="row">
                <div class="span4">
                    <aside>
                        <div class="widget">
                            <h4>{{ item.name }}</h4>
                            <ul>
                                <li><label><strong>เบอร์โทร : </strong></label>
                                    <p> {{ item.phone }}</p>
                                </li>
                                <li><label><strong>อีเมล : </strong></label>
                                    <p> {{ item.email }}</p>
                                </li>
                                <li><label><strong>ที่อยู่ : </strong></label>
                                    <p>{{ item.address }}</p>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="span8">
                    <div class="map-container">
                        <iframe width="100%" height="380" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAaVWGBsqNsJid5C5syC3SwwfLv2nGzbq8
                        &q={{ item.name }}" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <div class="spacer30"></div>

</main>
{% endblock content %}