{% extends 'base_1.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "Blog" %}</h2>
          <p class="m-auto"><a class="btn btn-success" href="{% url 'blog:create' %}">{% trans "Create Blog" %}</a></p>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "Blog" %}</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row">

        {% if blog_posts %}
        {% for post in blog_posts %}
        {% include 'blog/snippets/blog_post_snippet.html' with blog_post=post %}
        {% endfor %}
        {% else %}
        {% include 'blog/snippets/blog_post_snippet.html' with query=query %}
        {% endif %}

      </div>

      <!-- <div class="blog-pagination" data-aos="fade-up">
        <ul class="justify-content-center">
          <li class="disabled"><i class="icofont-rounded-left"></i></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#"><i class="icofont-rounded-right"></i></a></li>
        </ul>
      </div> -->

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

{% endblock content %}