{% extends 'base_1.html' %}

{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<main id="main">
	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="breadcrumb-hero">
			<div class="container">
				<div class="breadcrumb-hero">
					<h2>Blog Create</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumbs -->

	<div class="container">
		<div class="row">
			<div class="col-lg-7 offset-lg-1">
				<form class="create-form" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					{{ form.media }}
					{{ form|crispy }}

					<!-- <input id="tags" name="tags" class="form-control" type="text" value="Sydney,Beijing" data-role="tagsinput" /> -->

					<!-- Submit btn -->
					<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock content %}

{% block custom_css %}
<style type="text/css">
	.create-form {
		width: 100%;
		max-width: 100%;
		padding: 15px;
		margin: auto;
	}

	.submit-button {
		max-width: 200px;
	}
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<script>
	$(document).ready(function () {
		$(function (event) {
			var item1 = $("#id_tags").val()
			var item2 = $("#id_tags").tagsinput('items')
			console.log(item2)
		});
	});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
{% endblock %}