{% extends 'base_1.html' %}

{% load i18n %}
{% load static %}

{% block title %} Location Detail {% endblock title %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{{ data.location.name }}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{{ data.location.name }}</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->


  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="portfolio-details-container">

        <!-- <div class="owl-carousel portfolio-details-carousel">
          {% for image in data.images %}
          <img src="{{ image.image.url }}" class="img-fluid" alt="">
          {% endfor %}
        </div> -->

        <!-- Google Map API -->
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAaVWGBsqNsJid5C5syC3SwwfLv2nGzbq8
      &q={{ data.location.name }}" allowfullscreen>
        </iframe>

        <div class="portfolio-info">
          <h3>{% trans "information" %}</h3>
          <ul>
            <li><strong>{% trans "Category" %}</strong>: {{ data.location.category_sub }}</li>
            <li><strong>{% trans "Cost" %}</strong>: {{ data.location.cost }} {% trans "BTH" %}</li>
            <li><strong>{% trans "Location open time" %}</strong>: {{ data.location.time_open }}</li>
            <li><strong>{% trans "Location close time" %}</strong>: {{ data.location.time_close }}</li>
            <li><strong>{% trans "Shop" %}</strong>: <a href="#">{% if data.location.shop %} มี {% else %} ไม่มี {% endif %}</a>
            </li>
          </ul>
          <div class="text-center">
            <button data-location="{{ data.location.id }}" data-action="add" class="btn btn-outline-success add-btn update-cart">{% trans "Add To Trip" %}</button>
          </div>
        </div>

      </div>


      <div class="portfolio-description">
        <h2>{% trans "Description" %}</h2>
        <p>{{ data.location.detail }}</p>
      </div>



      <!-- <iframe 
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/view?center={{ latitude }},{{ longitude }}&zoom=8&key=AIzaSyAaVWGBsqNsJid5C5syC3SwwfLv2nGzbq8"
      allowfullscreen>
      </iframe> -->


      <div class="portfolio-description">
        <h2>{% trans "Location image" %}</h2>
      </div>
      <!-- Gallery -->
      <div class="container px-0">
        <div class="pp-gallery">
          <div class="card-columns" style="background-color: white;">

            {% for image in data.images %}
            <div class="card" data-groups="[&quot;food&quot;]"><a href="{{ image.image.url }}">
                <figure class="pp-effect"><img class="img-fluid" src="{{ image.image.url }}" alt="Food" />
                  <figcaption>
                    <div class="h4">{{ data.location.name }}</div>
                    <p>{{ data.location.category }}</p>
                  </figcaption>
                </figure>
              </a>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->


</main>
{% endblock content %}

{% block custom_css %}
<!-- Custom styles for this template -->
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/gallery.css' %}" rel="stylesheet"> -->

{% endblock %}

{% block custom_js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}