{% extends 'base_1.html' %}
{% load static %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Login</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>Login</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card m-auto">
            <div class="card-body mt-2 mb-2">

              <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="d-flex flex-column pb-3">
                  <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="logo image" width="72"
                    height="72">
                </div>

                <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                  required autofocus>

                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                  required>

                {% for field in login_form %}
                <p>
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
                {% endfor %}
                {% if login_form.non_field_errors %}
                <div style="color: red">
                  <p>{{login_form.non_field_errors}}</p>
                </div>

                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

              </form>

              <div class="d-flex flex-column">
                <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock content %}