{% extends 'base_1.html' %}

{% block content %}
<main id="main">
	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="breadcrumb-hero">
			<div class="container">
				<div class="breadcrumb-hero">
					<h2>Login</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<ol>
				<li><a href="{% url 'home' %}">หน้าหลัก</a></li>
				<li>Login</li>
			</ol>
		</div>
	</section>
	<!-- End Breadcrumbs -->

	<div class="container">
		<div class="d-flex flex-column">
			<p class="m-auto">You must authenticate to view this page. </p>
			<p class="m-auto">
				<a href="{% url 'register' %}">Create an account</a> or
				<a href="{% url 'login' %}">login</a>.
			</p>
		</div>
	</div>

</main>
{% endblock content %}