{% extends 'base_1.html' %}
{% load static %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Register</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>Register</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card m-auto">
            <div class="card-body mt-2 mb-2">

              <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="d-flex flex-column pb-3">
                  <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="Codignwithmitch logo image"
                    width="72" height="72">
                </div>
                <h1 class="h3 mb-3 font-weight-normal">Register an account</h1>

                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                  required autofocus>

                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"
                  required>

                <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password"
                  required>

                <input type="password" name="password2" id="inputPassword2" class="form-control"
                  placeholder="Confirm password" required>

                {% for field in registration_form %}
                <p>
                  {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
                {% endfor %}
                {% if registration_form.non_field_errors %}
                <div style="color: red">
                  <p>{{registration_form.non_field_errors}}</p>
                </div>

                {% endif %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}