{% extends 'base_1.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} Location Search {% endblock %}

{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "Trip" %}</h2>
          <div class="row">
            <p class="m-auto"><a class="btn btn-success"
                href="{% url 'location:location_list' %}">{% trans "Create Trip By Me" %}</a></p>
            <p class="m-auto"><a class="btn btn-success" href="{% url 'trip:search' %}">{% trans "Search" %}</a></p>
            <p class="m-auto"><a class="btn btn-success"
                href="{% url 'trip:trip_system_create' %}">{% trans "Create Trip By System" %}</a></p>
          </div>

        </div>
        {% if type_score %}
        <p>{% trans "Create Trip By System" %}: {{ type_score }} </p>
        <p>{% trans "Test Score" %} {{ test_score }} {% trans "percent" %}</p>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "Trip" %}</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->


  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">
      <div class="row">
        <!-- Loads all of the Current users reservations in a list and displays all  the details -->
        {% if not trip %}
          {% for trip in trips %}
            {% if trip.name != None  %}
            {% include 'trip/trip_person/snippets/trip_snippet.html'%}
            {% endif %}
          {% endfor %}
        {% else %}
        <div class="container">
          <div class="row">
            <div class="card m-auto">
              <div class="card-body mt-2 mb-2">
                <h2 class="card-title">{% trans "No results" %}</h2>
                <p class="card-text">{% trans "There were no results matching the search" %}: "{{query}}"</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section><!-- End Blog Section -->

</main>
{% endblock content %}


{% block custom_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
{% endblock %}

{% block custom_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}