{% extends 'base_admin.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "My Quizzes" %}</a></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'question_admin:quiz_change_list' %}">{% trans "My Quizzes" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ quiz.name }}</li>
    </ol>
  </nav>
  
  <h2 class="mb-3">
    {{ quiz.name }}
    <a href="{% url 'question_admin:quiz_results' quiz.pk %}" class="btn btn-primary float-right">{% trans "View results" %}</a>
  </h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">{% trans "Save changes" %}</button>
        <a href="{% url 'question_admin:quiz_change_list' %}" class="btn btn-outline-secondary"
          role="button">{% trans "Nevermind" %}</a>
        <a href="{% url 'question_admin:quiz_delete' quiz.pk %}" class="btn btn-danger float-right">{% trans "Delete" %}</a>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <strong>{% trans "Questions" %}</strong>
        </div>
        <div class="col-2">
          <strong>{% trans "Answers" %}</strong>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for question in questions %}
      <div class="list-group-item">
        <div class="row">
          <div class="col-10">
            <a href="{% url 'question_admin:question_change' quiz.pk question.pk %}">{{ question.text }}</a>
          </div>
          <div class="col-2">
            {{ question.answers_count }}
          </div>
        </div>
      </div>
      {% empty %}
      <div class="list-group-item text-center">
        <p class="text-muted font-italic mb-0">{% trans "You haven't created any questions yet" %}. Go ahead and" %} <a
            href="{% url 'question_admin:question_add' quiz.pk %}">{% trans "add the first question" %}</a>.</p>
      </div>
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="{% url 'question_admin:question_add' quiz.pk %}" class="btn btn-primary btn-sm">{% trans "Add question" %}</a>
    </div>
  </div>
</div>
{% endblock %}