{% extends 'base_admin.html' %}

{% load i18n %}

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "My Quizzes" %}</a></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{% trans "My Quizzes" %}</li>
    </ol>
  </nav>

  <a href="{% url 'question_admin:quiz_add' %}" class="btn btn-primary mb-3" role="button">{% trans "Add quiz" %}</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>{% trans "Quiz" %}</th>
          <th>{% trans "Subject" %}</th>
          <th>{% trans "Questions" %}</th>
          <th>{% trans "Taken" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
        <tr>
          <td class="align-middle"><a href="{% url 'question_admin:quiz_change' quiz.pk %}">{{ quiz.name }}</a></td>
          <td class="align-middle">{{ quiz.subject.get_html_badge }}</td>
          <td class="align-middle">{{ quiz.questions_count }}</td>
          <td class="align-middle">{{ quiz.taken_count }}</td>
          <td class="text-right">
            <a href="{% url 'question_admin:quiz_results' quiz.pk %}" class="btn btn-primary">{% trans "View results" %}</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="5">{% trans "You haven't created any quiz yet" %}.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}