{% extends 'base_1.html' %}


{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>Reset password</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">หน้าหลัก</a></li>
        <li>สถานท่องเที่ยว</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->

<div class="container">
  <form method="POST" class="form-signin">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>
  </form>
</div>
</main>

{% endblock %}