{% load i18n %}
<div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
	<article class="entry">
		<div class="entry-img">
			<img src="{{ location.location_image.all.0.image.url }}" alt="" class="img-fluid">
		</div>

		<h2 class="entry-title">
			<a href="">{{ location.name }}</a>
		</h2>

		<div class="entry-meta">
			<ul>
				<li class="d-flex align-items-center"><i class="icofont-user"></i> <a
						href="/">{{ location.category }}</a></li>
				<li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="/"><time
							datetime="2020-01-01">{{ location.time_open }}-{{ location.time_close }}</time></a></li>
			</ul>
		</div>

		<div class="entry-content">
			<p>{{ location.detail|safe|truncatechars:180 }}</p>
			<div class="read-more">
				<a href="{% url 'location:location_detail' location.pk %}" style="float: left;">{% trans "Read More" %}</a>
				<button data-location="{{ location.id }}" data-action="add" class="btn btn-outline-success add-btn update-cart" id="sweetalert" style="display: inline-block; float:right">{% trans "Add To Trip" %}</button>
			</div>
		</div>
	</article>
	<!-- End blog entry -->
</div>
