{% extends 'base_admin.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"><a>{% trans "Hotel Staff" %}</a></h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{% trans "Hotel Menu" %}</h6>
        </div>
        <div class="card-body">
            <div class="panel-body">
                <div class="list-group">
                    <!--  partner id in link -->
                    <a href="{% url 'hotel_admin:showproposals' %}" class="list-group-item">{% trans "Partner Requests" %}</a>
                    <a href="{% url 'hotel_admin:showpartners' %}" class="list-group-item">{% trans "View Partners" %}</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}