{% extends 'base_admin.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "Hotel Room" %}</a></h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{{ Hotel.name }} | {% trans "rooms" %}</li>
    </ol>
  </nav>

  <a href="{% url 'hotel_admin:room_create' Hotel.id %}" class="btn btn-primary mb-3" role="button">{% trans "Add Room" %}</a>
  <a href="{% url 'hotel_admin:hotel_reservations' Hotel.id  %}" class="btn btn-success float-right">{% trans "View Reservations" %}</a>

  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>{% trans "Type Name" %}</th>
          <th>{% trans "Update" %}</th>
          <th>{% trans "Delete" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
        <tr>
          <td><a>{{ room.room_type }}</a></td>
          <td><a class="btn btn-default pull-right" href="{% url 'hotel_admin:room_update' room.id %}">{% trans "Edit Room" %}</a></td>
          <form action="{% url 'hotel_admin:room_delete' room.id %}" method="post">
              {% csrf_token %}
          <td><button type="submit" class="btn btn-danger pull-right">{% trans "Delete Room" %}</button></td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td class="bg-light text-center font-italic" colspan="5">{% trans "No Room" %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- <a class="btn btn-default pull-right" href="{% url 'hotel_admin:home' %}">Back</a> -->
  <!-- <a class="btn btn-success pull-left" href="{% url 'hotel_admin:room_view' Hotel.id %}">Add Room</a> -->

</div>
{% endblock %}