{% extends 'base_1.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
      <div class="container">
        <div class="breadcrumb-hero">
          <h2>{% trans "My Booking" %}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li>{% trans "My Booking" %}</li>
      </ol>
    </div>
  </section>
  <!-- End Breadcrumbs -->


  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">
      <div class="row">
        <!-- Loads all of the Current users reservations in a list and displays all  the details -->
        {% for booking in bookings %}
        {% include 'reservation/snippets/booking_snippet.html'%}
        {% endfor %}
      </div>
    </div>
  </section><!-- End Blog Section -->

</main>
{% endblock %}