{% extends 'base_admin.html' %}

{% block title %} Location View {% endblock title %}

{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">Other Table</a></h1>
    <p class="mb-4">Other Table <a target="_blank" href="/">Description</a>.</p>

    <div class="row">

        <div class="col-lg-6 mb-4">
            <!-- style -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ฤดู <a
                            href="{% url 'season_admin:season_create' %}">(เพิ่มฤดู)</a> </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>ฤดู</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>ฤดู</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in season %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td><a href="{% url 'season_admin:season_update' item.pk %}">แก้ไข</a></td>
                                    <td><a href="{% url 'season_admin:season_delete' item.pk %}">ลบ</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

                <!-- landmark -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">จุดสนใจ <a
                                href="{% url 'landmark_admin:landmark_create' %}">(เพิ่มจุดสนใจ)</a> </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>จุดสนใจ</th>
                                        <th>แก้ไข</th>
                                        <th>ลบ</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>id</th>
                                        <th>จุดสนใจ</th>
                                        <th>แก้ไข</th>
                                        <th>ลบ</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for item in landmark %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.name }}</td>
                                        <td><a href="{% url 'landmark_admin:landmark_update' item.pk %}">แก้ไข</a></td>
                                        <td><a href="{% url 'landmark_admin:landmark_delete' item.pk %}">ลบ</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </div>


        <div class="col-lg-6 mb-4">
            <!-- style -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">รูปแบบ <a
                            href="{% url 'style_admin:style_create' %}">(เพิ่มรูปแบบ)</a> </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>รูปแบบ</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>id</th>
                                    <th>รูปแบบ</th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for item in style %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td><a href="{% url 'style_admin:style_update' item.pk %}">แก้ไข</a></td>
                                    <td><a href="{% url 'style_admin:style_delete' item.pk %}">ลบ</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Approach -->
            <!-- <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and
                        poor page
                        performance. Custom CSS classes are used to create custom components and custom utility classes.
                    </p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap
                        framework,
                        especially the utility classes.</p>
                </div>
            </div> -->

        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block custom_css %}
<!-- Custom styles for this page -->
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Page level plugins -->
<script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock %}