{% extends 'base_admin.html' %}

{% load i18n %}
{% load static %}
{% block title %} {% trans "Category Staff" %} {% endblock title %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800"><a href="https://datatables.net">{% trans "Category" %}</a></h1>
  <p class="mb-4">Category Table <a target="_blank" href="{% url 'category_admin:category_create' %}">{% trans "Add Category to DataTables" %}</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "Category" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>{% trans "ID" %}</th>
              <th>{% trans "Category Name" %}</th>
              <!-- <th>จำนวนสถานที่ท่องเที่ยว</th> -->
              <th>{% trans "Update" %}</th>
              <th>{% trans "Delete" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>{% trans "ID" %}</th>
              <th>{% trans "Category Name" %}</th>
              <!-- <th>จำนวนสถานที่ท่องเที่ยว</th> -->
              <th>{% trans "Update" %}</th>
              <th>{% trans "Delete" %}</th>
            </tr>
          </tfoot>
          <tbody>
            {% for item in categorys %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <!-- <td></td> -->
              <td><a href="{% url 'category_admin:category_update' item.pk %}">{% trans "Update" %}</a></td>
              <td><a href="{% url 'category_admin:category_delete' item.pk %}">{% trans "Delete" %}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block custom_css %}
<!-- Custom styles for this page -->
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
<!-- Page level plugins -->
<script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock %}